*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: antiquewhite;
}

.accordion{
    background-color:#ffc7a7;
    padding: 20px;
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
    border: 4px #8f2156;
    border-radius: 5px;

  }

  .accordion-item{

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #FFD6C0;

  }
  
  .accordion-title{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .accordion-title::after{
    content: "+";
    font-size: 40px;
    margin-left: auto;
  }

  .active-header::after{
    content: "-";
  }

  .match-menu{
    max-height: 0;
    overflow: hidden;
    transition: 1000ms ease max-height;

  }

  .player-label{
    text-align:center;
    padding: 5px;
  }

  .score{
    text-align: center;
    border: 1px solid #EC368D;
    padding: 10px;
    border-radius: 5px;
    min-height: 10px;
    min-width: 10px;
    max-height: 50px;
    max-width: 50px;
    font-size: large;
  }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.increment-button,
.decrement-button{
  appearance: none;
  backface-visibility: hidden;
  background-color: #EC368D;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  min-height: 15px;
  min-width: 15px;
  max-height: 50px;
  max-width: 50px;
  font-size: large;
  align-self: right;
}

.increment-button:hover,
.decrement-button:hover{
  background-color: #8f2156;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.increment-button:active,
.decrement-button:active{
  transform: translateY(2px);
  transition-duration: .35s;
}


.home-button {
  align-self: center;
  appearance: none;
  backface-visibility: hidden;
  background-color: #78c0e0;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  white-space: nowrap;
  min-height: 15px;
  min-width: 30px;
  max-height: 50px;
  max-width: 200px;
  font-size: large;
  margin: 3px;
}

.home-button:hover {
  background-color: #619db7;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.home-button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.banner-container{
  text-align: center;
  margin:0px;
  width: 100%;
  height: 20%;
}

.banner{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin:0px;
}

.nav-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFA5A5;
  width: 100%;
  height: 70px;
}

.top-menu{
  width: 100%;
  height: 400%;
  background-color: #FFA5A5;
}

.name-overlay{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #b82b6f; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin:0px;
}

.submit-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #78c0e0;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  white-space: nowrap;
  min-height: 15px;
  min-width: 30px;
  max-height: 50px;
  max-width: 200px;
  font-size: large;
  margin: 3px;
}

.submit-button:hover {
  background-color: #619db7;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.submit-button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.submit-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

}

.instructions{
  text-align: center;
  margin: 15px;

}

.logo-button{
  margin:10px;
}
