body {
    width: 393px;
    height: 1200px;
    position: relative;
    background: #FFD6C0;
  }
  
  .header-image {
    width: 393px;
    height: 189px;
    left: -8px;
    top: 54px;
    position: absolute;
    opacity: 0.50;
  }
  
  .header-bar, .footer-bar {
    width: 393px;
    height: 79px;
    background: #FFA5A5;
    position: absolute;
  }
  
  .header-bar {
    top: 0;
    height: 55px;
  }

  .title {
    width: 301px;
    top: 82px;
    left: 43px;
    position: absolute;
    text-align: center;
    color: #EC368D;
    font-size: 36px;
    font-family: 'Faster One';
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
  }

  .h1 {
    text-align: center;
    color: #EC368D;
    font-size: 36px;
    font-family: 'Faster One';
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 393px; 
    height: 42px; 
    left: 0px; 
    top: 359px; 
    position: absolute; 
  }